.content {
  display: grid;
  place-items: center;
}

header form {
  display: flex;
  flex-flow: row nowrap;
}

header form .number {
  max-width: 3rem;
}

.list {
}

.row {
  background-color: var(--border);
  width: 20rem;
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.row button {
  background-color: brown;
}

.descripcion {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.cantidad {
  background-color: var(--focus);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: bold;
}

.producto {
  display: flex;
  justify-content: center;
  align-items: center;
}
